.word-base {
    display: flex;
    gap: .25em;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Martian Mono', monospace;
    padding: 0px 20px;
}

.spaces {
    border-bottom: .1em solid black;
    max-width: 50px;
}

/* -- RESPONSIVE --*/

@media screen and (max-width:64em) {}
@media screen and (max-width:40em) {
    .word-base {
        font-size: 2.5em;
        gap: 0.3em;
    }
    .spaces {
        min-width: 26px;
    }
}
@media screen and (max-width:23.4em) {
    .word-base {
        font-size: 2.5em;
        gap: 0.3em;
    }
    .spaces {
        min-width: 23px;
    }
}